<!DOCTYPE html>
<html lang="en">

<head>
    <title>Club</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1>View Club</h1>
    <table class="Club-table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Data</th>
            <th>Pic</th>
        </tr>
        <tr>
            <td><%= Club.ID %></td>
            <td><%= Club.Name %></td>
            <td><%= Club.Data %></td>
            <td><img onclick="openLightbox(this)" src="<%= Club.Pic %>" alt="Club Pic"></td>
        </tr>
    </table>
    <div class="link-center">
        <a href="/updateClub/<%= Club.ID %>">Edit</a>
        <a href="/updateClub/<%= Club.ID %>">Delete</a>
        <a href="/Clubs">Back to List</a>
    </div>

    <div id="lightbox" class="lightbox" onclick="closeLightbox()">
        <img id="lightbox-img" src="<%= Club.Pic %>" alt="Club Pic">
    </div>

    <script>
        function openLightbox(element) {
            var lightbox = document.getElementById('lightbox');
            var lightboxImg = document.getElementById('lightbox-img');

            lightbox.style.display = 'flex';
            lightboxImg.src = element.src;

            window.addEventListener('wheel', zoomImage);
        }

        function closeLightbox() {
            document.getElementById('lightbox').style.display = 'none';
            window.removeEventListener('wheel', zoomImage);
        }

        function zoomImage(event) {
            var lightboxImg = document.getElementById('lightbox-img');
            var delta = event.deltaY || -event.wheelDelta || event.detail;

            var scale = delta > 0 ? 1.1 : 0.9;
            lightboxImg.style.width = lightboxImg.clientWidth * scale + 'px';
            lightboxImg.style.height = lightboxImg.clientHeight * scale + 'px';

            event.preventDefault();
        }
    </script>
</body>

</html>
