<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clubs</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Clubs</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Data</th>
            <th>Pic</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 0; i < Clubs.length; i++) { %>
            <tr>
                <td><%= Clubs[i].ID %></td>
                <td><%= Clubs[i].Name %></td>
                <td><%= Clubs[i].Data %></td>
                <td><img src="<%= Clubs[i].Pic %>" alt="Club Pic"></td>
                <td class="actions">
                    <a href="/Club/<%= Clubs[i].ID %>">View</a>
                    <a href="/updateClub/<%= Clubs[i].ID %>">Update</a>
                    <a href="/deleteClub/<%= Clubs[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/createClub"class="create-link">Create New Club</a>
    <br>
    <a href="/" class="create-link">Add Club Of Player</a>
    <br>
    <a href="/Players" class="create-link">Add Player</a>
</body>
</html>
