<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>premier league Clubs</title>
    <style>

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: url('https://c.pxhere.com/images/45/c0/9f405bddf7f00d69ed079dd6c967-1566397.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.actions a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    background-color: #4CAF50;
    margin-top: 5px;
}

.create-link {
    display: block;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
    </style>
</head>
<body>
    <h1>Premier League Clubs</h1>
    <table>
        <tr>
            <th>Player ID</th>
            <th>Club ID</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 0; i < ClubOfPlayers.length; i++) { %>
            <tr>
                <td><%= ClubOfPlayers[i].PlayerID %></td>
                <td><%= ClubOfPlayers[i].ClubID %></td>
                <td class="actions">
                    <a href="/ClubOfPlayer/<%= ClubOfPlayers[i].PlayerID %>">View</a>
                    <a href="/updateClubOfPlayer/<%= ClubOfPlayers[i].PlayerID %>">Update</a>
                    <a href="/deleteClubOfPlayer/<%= ClubOfPlayers[i].PlayerID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/createClubOfPlayer" class="create-link">Create New Club Of Players</a>
    <a href="/Players" class="create-link">Add Player</a>
    <a href="/Clubs" class="create-link">Add Club</a>
    <br>

    <div class="footer">
        &copy; 2023 Welcome to Premier League Players
    </div>
</body>
</html>
