<!DOCTYPE html>
<html lang="en">
<head>
    <title>Players</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Players</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Data</th>
            <th>Pic</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 0; i < Players.length; i++) { %>
            <tr>
                <td><%= Players[i].ID %></td>
                <td><%= Players[i].Name %></td>
                <td><%= Players[i].Data %></td>
                <td><img src="<%= Players[i].Pic %>" alt="Player Pic"></td>
                <td class="actions">
                    <a href="/Player/<%= Players[i].ID %>">View</a>
                    <a href="/updatePlayer/<%= Players[i].ID %>">Update</a>
                    <a href="/deletePlayer/<%= Players[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/createPlayer" class="create-link">Create New Player</a>
    <br>
    <a href="/" class="create-link">Add Club Of Player</a>
    <br>
    <a href="/Clubs" class="create-link">Add Club</a>
</body>
</html>
