
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Club</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Update Club</h1>
    <form method="post" action="/updateClub/<%= Club.ID %>">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="<%= Club.Name %>">
        <br>
        <label for="Data">Data</label>
        <input type="text" id="Data" name="Data" value="<%= Club.Data %>">
        <br>
        <label for="Pic">Pic</label>
        <input type="text" id="Pic" name="Pic" value="<%= Club.Pic %>">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/Club/<%= Club.ID %>">View</a>
<a href="/DeleteClub/<%= Club.ID %>">Delete</a>
<a href="/Clubs">Back to List</a>
</body>
</html>