
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Club Of Player</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Update Club Of Player</h1>
    <form method="post" action="/updateClubOfPlayer/<%= ClubOfPlayer.PlayerID %>">

        <label for="PlayerID">PlayerID</label>
        <input type="text" id="PlayerID" name="PlayerID" value="<%= ClubOfPlayer.PlayerID %>">
        <br>
        <label for="ClubID">ClubID</label>
        <input type="text" id="ClubID" name="ClubID" value="<%= ClubOfPlayer.ClubID %>">
        <br>

        <input type="submit" value="Update">
    </form>
<a href="/ClubOfPlayer/<%= ClubOfPlayer.PlayerID %>">View</a>
<a href="/DeleteClubOfPlayer/<%= ClubOfPlayer.PlayerID %>">Delete</a>
<a href="/">Back to List</a>
</body>
</html>