
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Player</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Update Player</h1>
    <form method="post" action="/updatePlayer/<%= Player.ID %>">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="<%= Player.Name %>">
        <br>
        <label for="Data">Data</label>
        <input type="text" id="Data" name="Data" value="<%= Player.Data %>">
        <br>
        <label for="Pic">Pic</label>
        <input type="text" id="Pic" name="Pic" value="<%= Player.Pic %>">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/Player/<%= Player.ID %>">View</a>
<a href="/DeletePlayer/<%= Player.ID %>">Delete</a>
<a href="/Players">Back to List</a>
</body>
</html>